---
title: Administrator - Welcome to Middleman
---

<div class="welcome">
	<h1>Middleman is Watching</h1>
	
	<p class="doc">
		Welcome Administrator
	</p><!-- .doc -->
	<p>
	<h2>Login</h2>
<form>
  <input type="text" placeholder="Email">
  <input type="password">
  <input type="submit">
</form></p>
<p>Today is <%= Time.now.strftime('%A') %>.</p>
</div><!-- .welcome -->

